**/.DS_Store
/Example/Rudder.xcodeproj/xcuserdata/
/Example/Rudder.xcworkspace/xcuserdata/
/Example/Rudder.xcodeproj/xcshareddata/
ExampleSwift/ExampleSwift.xcodeproj/xcshareddata/
ExampleSwift/ExampleSwift.xcodeproj/xcuserdata/
.swiftpm
