os: osx
language: objective-c
osx_image: xcode13.4
jobs:
  include:
#    - stage: "Tests"
#      name: "Running Test Cases"
#      script: 'xcodebuild test -workspace Rudder.xcworkspace -scheme RudderTests -sdk iphonesimulator -destination "platform=iOS Simulator,OS=15.5,name=iPhone 13" ONLY_ACTIVE_ARCH=NO CODE_SIGNING_REQUIRED=NO -skip-testing:RudderTests/RSBlackListedEventsTest -skip-testing:RudderTests/RSWhiteListedEventsTests | xcpretty'
    - stage: "Release"
      if: branch =~ ^v\d+\.\d+(\.\d+)?(-\S*)?$
      name: "Release to Cocoapods"
      script: pod trunk push --allow-warnings
notifications:
  slack:
    if: branch =~ ^v\d+\.\d+(\.\d+)?(-\S*)?$
    rooms:
      - rudderlabs:KcojYvbjDyIbk7NU8AyDraMA#sdk-build-pipelines
    template:
      - "%{commit_message}"
      - "Release of %{repository_name} is %{result}"
