<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WRITE_KEY</key>
	<string></string>
	<key>PROD_DATA_PLANE_URL</key>
	<string></string>
	<key>PROD_CONTROL_PLANE_URL</key>
	<string></string>
	<key>LOCAL_DATA_PLANE_URL</key>
	<string></string>
	<key>LOCAL_CONTROL_PLANE_URL</key>
	<string></string>
	<key>DEV_DATA_PLANE_URL</key>
	<string></string>
	<key>DEV_CONTROL_PLANE_URL</key>
	<string></string>
	<key>STORAGE_LOCATION</key>
	<string></string>
	<key>DOMAIN_IDENTIFIER</key>
	<string></string>
</dict>
</plist>
