name: Code Quality Checks
on:
  pull_request:
    branches: ['master', 'develop']
    types: ['opened', 'reopened', 'synchronize']

jobs:
  cancel_previous:
    runs-on: ubuntu-latest
    steps:
      - uses: styfle/cancel-workflow-action@0.11.0
        with:
          workflow_id: ${{ github.event.workflow.id }}
          
  build:
    name: Code Quality Checks
    needs: cancel_previous
    runs-on: macOS-latest
    
    steps:
      - name: Checkout source branch
        uses: actions/checkout@v4
      
      - name: Install xcpretty
        run: gem install xcpretty
        
      - name: Install Cocoapods
        run: gem install cocoapods
        
      - name: Pod install
        run: pod install --repo-update
        
      - name: Build SDK(iOS)
        run: |
          xcodebuild build -scheme Rudder_iOS -workspace Rudder.xcworkspace -destination 'platform=iOS Simulator,name=iPhone 14' | xcpretty
          
      - name: Build SDK(watchOS)
        run: |
          xcodebuild build -scheme Rudder_watchOS -workspace Rudder.xcworkspace -destination 'platform=watchOS Simulator,name=Apple Watch Series 7 (45mm)' | xcpretty
      
      - name: Build SDK(tvOS)
        run: |
          xcodebuild build -scheme Rudder_tvOS -workspace Rudder.xcworkspace -destination 'platform=tvOS Simulator,name=Apple TV' | xcpretty
      
      - name: Execute pod lint
        run: pod lib lint --no-clean --allow-warnings
