name: 'Tests & Coverage'
on:
  workflow_dispatch:
  push:
    branches: ['main', 'develop']
  pull_request:
    branches: ['master', 'develop']
    types: ['opened', 'reopened', 'synchronize']

jobs:
  build:
    name: 'Tests & Coverage'
    runs-on: macOS-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
      
      - name: Install xcpretty
        run: gem install xcpretty

#      - name: Run tests(suite)
#        run: |
#          xcodebuild -scheme RudderSDK-iOS test -sdk iphonesimulator -destination 'platform=iOS Simulator,name=iPhone 13' | xcpretty

#      - name: Run tests(1)
#        run: |
#          xcodebuild -scheme RudderSDK-iOS test -sdk iphonesimulator -destination 'platform=iOS Simulator,name=iPhone 13' -only-testing "Tests/Tests" | xcpretty

#      - name: Run tests(2)
#        run: |
#          xcodebuild -scheme RudderSDK-iOS test -sdk iphonesimulator -destination 'platform=iOS Simulator,name=iPhone 13' -only-testing "Tests/Tests2" | xcpretty

#      - name: Run tests(3)
#        run: |
#          xcodebuild -scheme RudderSDK-iOS test -sdk iphonesimulator -destination 'platform=iOS Simulator,name=iPhone 13' -only-testing "Tests/Tests3" | xcpretty
      
      - name: Build SDK(iOS)
        run: |
          xcodebuild clean build -scheme RudderSDK-iOS -workspace Rudder.xcworkspace -sdk iphonesimulator | xcpretty -r json-compilation-database -o compile_commands.json
      
      - name: Install SonarCloud
        run: npm install -g sonarqube-scanner
        
      - name: SonarCloud Scan
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          sonar-scanner -Dsonar.host.url=https://sonarcloud.io
